body{
	margin:0;
	padding:0;
	
}



.logo img{
	    height: 100px;
		width: 250px;
		margin: 50px;
		padding-top:50px;
		
}
#amazone1{
	background-color:black;
	color:white;
	height:200px;
	width:981px;
	font-size:80px;
	text-align:center;
	padding-top:50px;
}
.header{
	    justify-content: initial;
		display: flex;
	
}
#navbar{
	height:50px;
	width:100%;
	color:white;
	font-size:20px;
	display: flex;
    justify-content: space-around;
    padding: 13px 0 0 0px;
	
}

.nav1{
		background-image: url('img/background2.jpg');
		height:auto;
		background-repeat:no-repeat;
		background-size:cover;
		
}
nav{
	border: 3px solid white;
}
.article{
	color:white;
	text-align:center;
	font-family:sans-serif;
	font-size:20px;
	margin:0 0 20px 0;
	padding: 20px;
	margin: 3px;
	border: 3px solid black;
}
.contant{
	background-color:black;
	
    text-align: center;
	
}
.contant img{
	width:200px;
	height:250px;
	
}
div p{
	color:white;
	
}
#123 img{
	display: flex;
    justify-content: space-around;
	
}
.Contact1{
	background-image: url('img/background2.jpg');
		height:200px;
		background-repeat:no-repeat;
		background-size:cover;
		
}
.Contact1 h3{
	text-align:center;
		margin: 3px;
		padding: 85px;
		color:white;
}
.i-phone{
	background-color:black;
}
.i-phone img{
	width:200px;
	height:250px;
}
.i-phone td{
	text-align:center;
}
.text2{
	    display: flex;
    justify-content: space-between;
}
.logo2 img{
	    height: 100px;
		width: 250px;
		margin: 50px;
		padding-top:50px;
		
}
.foot{
	background-color:black;
}
.foot3{
	 display: flex;
	justify-content: space-between;
 
}
.foot3 div{
	flex :0 0 24%;
}
 a:hover {
  background-color:green;
  color:grey;
  width: 100px;
   
}



@media only screen and (max-width: 400px) {
  body {
    background-color: lightblue;
	font-size:50px;
  }